h1{
    font-family: cursive;
    text-align: center;
    padding: 10px;
}
.nameDiv{
    border: 2px solid yellowgreen;
    margin-bottom: 10px;
    background-color: aqua;
}
.todo-container{
    background-color: rgb(94, 93, 93);
}

.text-input{
    width: 100%;
    height: 30px;
}
